<div class="flex flex-col justify-center items-start grow">
  <div>
    <h2 class="font-SourceProBold text-[1.7rem] md:text-[2.2rem] leading-10">
      <span><%= movie.title %></span>
      <span class="text-white/80 font-SourceProNormal">(<%= movie.release_date.year %>)</span>
    </h2>
    <div>
      <span class="text-white/90 text-[0.8rem] border border-white/70 inline-flex justify-center items-center
                sm:mr-[7px] ml-[1px] pb-[1px] px-1 rounded-sm leading-4"><%= movie.age_rating %></span>
      <span><%= movie.release_date.strftime("%m/%d/%Y") %> (GB)</span>
      <span class="disc relative ml-5"></span>
      <span><%= movie.categories.map(&:name).join(", ") %></span>
      <span class="disc relative ml-5"></span>
      <span><%= "%dh %02dm" % [movie.duration / 60, movie.duration % 60] %></span>
    </div>
  </div>
  <div id="skeleton-actions-panel-loader" class="w-[410px] h-[68px] my-6"></div>
  <div id="actions-panel" data-movie-id="<%= movie.id %>" style="display: none" class="flex justify-center items-center gap-2 lg:gap-x-5 md:h-[68px] my-4 md:my-6"></div>
  <div>
    <p class="text-[1.1rem] italic text-white/70 leading-4 mt-2.5 md:mt-0"><%= movie.tagline %></p>
    <div>
      <h3 class="text-[1.3rem] font-SourceProSemiBold mt-3 mb-1.5">Overview</h3>
      <p class="leading-6 text-justify lg:text-left"><%= movie.overview %></p>
      <ul class="grid grid-cols-2 lg:grid-cols-3 xl:max-w-[90%] gap-y-5 font-SourceProBold mt-5">
        <% crew.uniq.each do |crew_member| %>
          <li class="flex crew-member">
            <%= display_crew_information(crew_member) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>