<div class="sm:hidden text-white" style="background-color: <%= movie.gradient_color %>">
  <div class="font-SourceProNormal">
    <div class="h-[calc(100vw/2.22222)] bg-cover bg-no-repeat header-bg-position" style="background-image: url(<%= rails_blob_url(movie.background) %>);">
      <div class="relative h-full" style="background-image: <%= dynamic_gradient_style(movie)[:mobile] %>;">
        <div class="absolute top-0 bottom-0 my-auto left-5 h-[calc((100vw/2.222222)_-_40px)] w-[calc(((100vw/2.222222)_-_40px)/1.5)]">
          <%= image_tag movie.cover, alt: "Cover Image" %>
        </div>
      </div>
    </div>
    <h2 class="text-center text-[calc(.7em_+_3vw)] font-SourceProSemiBold py-4 px-5 leading-[34px]">
      <span><%= movie.title %></span>
      <span class="font-SourceProNormal text-white/80 text-[0.8em]">(<%= movie.release_date.year %>)</span>
    </h2>
    <div id="mobile-actions-panel" data-movie-id="<%= movie.id %>"></div>
  </div>
  <%= render 'movies/header/mobile_details', movie: movie, crew: crew %>
</div>