<div id="movie-list"
     data-movies="<%= movies.to_json %>"
     data-title="<%= title %>"
     data-periods="<%= periods.to_json %>"
     data-height="<%= defined?(height) ? height : '' %>"
     data-show-scrollbar="<%= defined?(show_scrollbar) ? show_scrollbar : false %>"
     data-background-bar="<%= defined?(background_bar) ? background_bar : false %>">
</div>