<%= render partial: "/layouts/shortcut_bar" %>
<%= render partial: "/movies/header" %>
<div class="container">
  <div class="flex gap-6 mt-[30px]">
    <!--left-side-->
    <div class="font-SourceProNormal overflow-hidden px-4">
      <!--cast-->
      <%= render partial: "/movies/cast" %>
      <!--social-->
      <%= render partial: "/movies/social" %>
      <!--media-->
      <%= render partial: "/movies/media" %>
      <!--collection-->
      <%= render partial: "/movies/collection" %>
      
    </div>
    <!--right-side-->
    <div class="min-w-[260px]"></div>

  </div>
</div>


