<%= render partial: "/layouts/shortcut_bar" %>
<%= render partial: "/movies/header" %>
<div class="container">
  <div class="flex flex-col lg:flex-row gap-x-3.5 lg:gap-x-[30px] gap-y-8 my-[30px]">
    <!--left-side-->
    <div class="font-SourceProNormal overflow-hidden">
      <!--cast-->
      <%= render partial: "/movies/cast" %>
      <!--social-->
      <%= render partial: "/movies/social" %>
      <!--media-->
      <div id="media-widget" data-movie-id="<%= @movie.id %>"></div>
      <!--collection-->
      <%= render partial: "/movies/collection" if @movie.collection %>
      <!--recommendation-->
      <%= render partial: "/movies/recommendation" %>
    </div>
    <!--right-side-->
    <div class="min-w-[260px] lg:max-w-[261px] mx-auto">
      <%= render partial: "/movies/column" %>
    </div>
  </div>
</div>


