<!DOCTYPE html>
<html>
<head class="light-mode">
  <title>Cinemad</title>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <%= render 'shared/favicon' %>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= vite_client_tag %>
  <%= vite_stylesheet_tag 'styles/application.scss' %>
  <%= vite_javascript_tag 'application' %>

</head>

<body class="flex flex-col min-h-screen">
<meta name="csrf-token" content="<%= form_authenticity_token %>">
<%= render 'shared/svg_sprites' %>
<%= render partial: "shared/header/header" %>
<div id="mobile-search-results-container" class="sm:hidden"></div>
<div class="w-full h-14 sm:h-16 bg-[#034275]"></div>
<div id="app" class="min-h-screen"></div>
<%= render partial: "shared/footer" %>
</body>
</html>
