<!DOCTYPE html>
<html>
<head class="light-mode">
  <title>TmdbClone</title>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/easy-pie-chart/2.1.6/jquery.easypiechart.min.js" integrity="sha512-DHNepbIus9t4e6YoMBSJLwl+nnm0tIwMBonsQQ+W9NKN6gVVVbomJs9Ii3mQ+HzGZiU5FyJLdnAz9a63ZgZvTQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="//code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
  <script src="https://unpkg.com/scrollbooster@2/dist/scrollbooster.min.js"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= vite_client_tag %>
  <%= vite_stylesheet_tag 'application', data: { "turbo-track": "reload" } %>
  <%= vite_javascript_tag 'application' %>
  <!--
    If using a TypeScript entrypoint file:
      vite_typescript_tag 'application'

    If using a .jsx or .tsx entrypoint, add the extension:
      vite_javascript_tag 'application.jsx'

    Visit the guide for more information: https://vite-ruby.netlify.app/guide/rails
  -->

</head>

<body class="flex flex-col min-h-screen">
<svg class="hidden">
  <symbol id="search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
    <path fill="#01B4E4" id="search" d="M27.207,24.37866,20.6106,17.78235a9.03069,9.03069,0,1,0-2.82825,2.82825L24.37878,27.207a1,1,0,0,0,1.41425,0l1.414-1.41418A1,1,0,0,0,27.207,24.37866ZM13,19a6,6,0,1,1,6-6A6.00657,6.00657,0,0,1,13,19Z"/>
  </symbol>
  <symbol id="plus" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
    <path fill="#ffffff" id="plus" d="M27,14v4a1,1,0,0,1-1,1H19v7a1,1,0,0,1-1,1H14a1,1,0,0,1-1-1V19H6a1,1,0,0,1-1-1V14a1,1,0,0,1,1-1h7V6a1,1,0,0,1,1-1h4a1,1,0,0,1,1,1v7h7A1,1,0,0,1,27,14Z"/>
  </symbol>
  <symbol id="x-mark" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12"/>
  </symbol>
  <symbol id="chevron-down" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5"/>
  </symbol>
  <symbol id="user-profile" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 32 32">
    <path id="user" d="M27,24.23669V27a1,1,0,0,1-1,1H5a1,1,0,0,1-1-1V24.23669a1.57806,1.57806,0,0,1,.93115-1.36462L10.0672,20.167A5.02379,5.02379,0,0,0,14.55273,23h1.89454a5.02336,5.02336,0,0,0,4.48535-2.83313l5.13623,2.7052A1.57806,1.57806,0,0,1,27,24.23669ZM9.64478,14.12573a2.99143,2.99143,0,0,0,1.31073,1.462l.66583,3.05176A2.99994,2.99994,0,0,0,14.55237,21h1.89526a2.99994,2.99994,0,0,0,2.931-2.36047l.66583-3.05176a2.99115,2.99115,0,0,0,1.31073-1.462l.28-.75146A1.2749,1.2749,0,0,0,21,11.62988V9c0-3-2-5-5.5-5S10,6,10,9v2.62988a1.2749,1.2749,0,0,0-.63519,1.74439Z"/>
  </symbol>
  <symbol id="bars" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
    <path id="menu" d="M27,23v2a1,1,0,0,1-1,1H6a1,1,0,0,1-1-1V23a1,1,0,0,1,1-1H26A1,1,0,0,1,27,23ZM26,6H6A1,1,0,0,0,5,7V9a1,1,0,0,0,1,1H26a1,1,0,0,0,1-1V7A1,1,0,0,0,26,6Zm0,8H6a1,1,0,0,0-1,1v2a1,1,0,0,0,1,1H26a1,1,0,0,0,1-1V15A1,1,0,0,0,26,14Z"/>
  </symbol>
  <symbol id="tv" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round" d="M6 20.25h12m-7.5-3v3m3-3v3m-10.125-3h17.25c.621 0 1.125-.504 1.125-1.125V4.875c0-.621-.504-1.125-1.125-1.125H3.375c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125Z"/>
  </symbol>
  <symbol id="movie" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round" d="m15.75 10.5 4.72-4.72a.75.75 0 0 1 1.28.53v11.38a.75.75 0 0 1-1.28.53l-4.72-4.72M4.5 18.75h9a2.25 2.25 0 0 0 2.25-2.25v-9a2.25 2.25 0 0 0-2.25-2.25h-9A2.25 2.25 0 0 0 2.25 7.5v9a2.25 2.25 0 0 0 2.25 2.25Z"/>
  </symbol>
  <symbol id="people" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round" d="M15 19.128a9.38 9.38 0 0 0 2.625.372 9.337 9.337 0 0 0 4.121-.952 4.125 4.125 0 0 0-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 0 1 8.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0 1 11.964-3.07M12 6.375a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0Zm8.25 2.25a2.625 2.625 0 1 1-5.25 0 2.625 2.625 0 0 1 5.25 0Z"/>
  </symbol>
  <symbol id="play" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 32 32">
    <path id="play" d="M24.8175,16.86432,9.503,25.77667A1,1,0,0,1,8,24.91235V7.08765a1,1,0,0,1,1.503-.86432L24.8175,15.13568A1.00006,1.00006,0,0,1,24.8175,16.86432Z"/>
  </symbol>
  <symbol id="list" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
    <path fill="currentColor" id="thumbnails-list" d="M11,14v4a1,1,0,0,1-1,1H6a1,1,0,0,1-1-1V14a1,1,0,0,1,1-1h4A1,1,0,0,1,11,14Zm-1,7H6a1,1,0,0,0-1,1v4a1,1,0,0,0,1,1h4a1,1,0,0,0,1-1V22A1,1,0,0,0,10,21ZM10,5H6A1,1,0,0,0,5,6v4a1,1,0,0,0,1,1h4a1,1,0,0,0,1-1V6A1,1,0,0,0,10,5Zm17,6H14a1,1,0,0,0-1,1v1a1,1,0,0,0,1,1H27a1,1,0,0,0,1-1V12A1,1,0,0,0,27,11Zm0-6H14a1,1,0,0,0-1,1V7a1,1,0,0,0,1,1H27a1,1,0,0,0,1-1V6A1,1,0,0,0,27,5Zm0,18H14a1,1,0,0,0-1,1v1a1,1,0,0,0,1,1H27a1,1,0,0,0,1-1V24A1,1,0,0,0,27,23Zm0-6H14a1,1,0,0,0-1,1v1a1,1,0,0,0,1,1H27a1,1,0,0,0,1-1V18A1,1,0,0,0,27,17Z"/>
  </symbol>
  <symbol id="heart" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
    <path fill="currentColor" id="heart" d="M27.78131,11.92578c0,4.82666-6.13562,8.68128-11.0376,14.0686a.99978.99978,0,0,1-1.48742,0c-4.902-5.38732-11.03748-9.24194-11.03748-14.0686,0-5.52954,7.53626-9.48682,11.57507-3.82544a.25855.25855,0,0,0,.42029.00562C20.47992,2.43628,27.78131,6.39453,27.78131,11.92578Z"/>
  </symbol>
  <symbol id="bookmark" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
    <path fill="currentColor" id="bookmark" d="M25,6V26.58582a1,1,0,0,1-1.70709.70715L16.5,20.5,9.70709,27.293A1,1,0,0,1,8,26.58582V6a2.00006,2.00006,0,0,1,2-2H23A2.00006,2.00006,0,0,1,25,6Z"/>
  </symbol>
  <symbol id="star-empty" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
    <path fill="currentColor" d="M26.96454,13H19.06476L16.62415,5.48438a.652.652,0,0,0-1.24018,0L12.94336,13H5.04358a.65194.65194,0,0,0-.38312,1.17944l6.39209,4.64307-2.43744,7.506a.65419.65419,0,0,0,.62238.85632.643.643,0,0,0,.38086-.12744l6.38574-4.6383,6.38568,4.6383a.643.643,0,0,0,.38086.12744.65414.65414,0,0,0,.62238-.85632l-2.43744-7.506,6.39209-4.64307A.652.652,0,0,0,26.96454,13Zm-7.36066,3.96143-1.352.98193.51612,1.58935.8717,2.68409-2.28394-1.65869-1.35168-.98194-1.35169.98194L12.36847,22.2168l.8717-2.68409.51606-1.58935-1.352-.98193-2.2873-1.66163h4.49775l.51623-1.58935.87317-2.689.87317,2.689.51623,1.58935h4.49768Z"/>
  </symbol>
  <symbol id="circle-minus" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
    <path fill="currentColor" d="M16,4A12,12,0,1,0,28,16,12.01312,12.01312,0,0,0,16,4Zm6,13a1,1,0,0,1-1,1H11a1,1,0,0,1-1-1V15a1,1,0,0,1,1-1H21a1,1,0,0,1,1,1Z"/>
  </symbol>
  <symbol id="star" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
    <path fill="currentColor" d="M27.34766,14.17944l-6.39209,4.64307,2.43744,7.506a.65414.65414,0,0,1-.62238.85632.643.643,0,0,1-.38086-.12744l-6.38568-4.6383-6.38574,4.6383a.643.643,0,0,1-.38086.12744.65419.65419,0,0,1-.62238-.85632l2.43744-7.506L4.66046,14.17944A.65194.65194,0,0,1,5.04358,13h7.89978L15.384,5.48438a.652.652,0,0,1,1.24018,0L19.06476,13h7.89978A.652.652,0,0,1,27.34766,14.17944Z"/>
  </symbol>
  <symbol id="facebook" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
    <path d="M29,16.07912A13,13,0,1,0,13.96875,28.94694V19.84447H10.668V16.07912h3.30078v-2.8698c0-3.26466,1.94081-5.06795,4.91029-5.06795a19.95289,19.95289,0,0,1,2.91.25441v3.20563H20.14979a1.88079,1.88079,0,0,0-2.11854,2.03423v2.44348h3.60547l-.57637,3.76535h-3.0291v9.10247A13.02132,13.02132,0,0,0,29,16.07912" fill="#262626"/>
  </symbol>
  <symbol id="twitter" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
    <path d="M26.32865,10.20428c.01043.22891.01043.45778.01043.6867A15.18194,15.18194,0,0,1,2.99214,23.68808a10.26487,10.26487,0,0,0,1.26929.07283A10.70029,10.70029,0,0,0,10.8889,21.472a5.33486,5.33486,0,0,1-4.9836-3.70387,5.36636,5.36636,0,0,0,2.40336-.09364,5.34632,5.34632,0,0,1-4.2761-5.23331v-.07283a5.39627,5.39627,0,0,0,2.41374.6659A5.35659,5.35659,0,0,1,4.79205,5.90738,15.1498,15.1498,0,0,0,15.78924,11.484a5.89821,5.89821,0,0,1-.13524-1.21727,5.33642,5.33642,0,0,1,9.22847-3.65189,10.61188,10.61188,0,0,0,3.3918-1.2901A5.368,5.368,0,0,1,25.9229,8.27951a10.81127,10.81127,0,0,0,3.06924-.84274A10.868,10.868,0,0,1,26.32865,10.20428Z" fill="#262626"/>
  </symbol>
  <symbol id="instagram" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
    <path d="M16,6.16216c3.20414,0,3.58366.01222,4.849.06995a6.64012,6.64012,0,0,1,2.22824.4132,3.97394,3.97394,0,0,1,2.27743,2.27743,6.64009,6.64009,0,0,1,.4132,2.22822c.05773,1.26538.06995,1.6449.06995,4.849s-.01222,3.58366-.06995,4.849a6.64012,6.64012,0,0,1-.4132,2.22824,3.97394,3.97394,0,0,1-2.27743,2.27743,6.64012,6.64012,0,0,1-2.22824.4132c-1.26518.05773-1.64466.06995-4.849.06995s-3.58384-.01222-4.849-.06995a6.64012,6.64012,0,0,1-2.22824-.4132,3.97394,3.97394,0,0,1-2.27743-2.27743,6.64009,6.64009,0,0,1-.4132-2.22822c-.05773-1.26538-.06995-1.6449-.06995-4.849s.01222-3.58366.06995-4.849a6.64012,6.64012,0,0,1,.4132-2.22824A3.97394,3.97394,0,0,1,8.92274,6.64531a6.64009,6.64009,0,0,1,2.22822-.4132c1.26538-.05773,1.6449-.06995,4.849-.06995M16,4c-3.259,0-3.66766.0138-4.94758.0722A8.80773,8.80773,0,0,0,8.13953,4.63,6.136,6.136,0,0,0,4.63,8.13953a8.80773,8.80773,0,0,0-.55779,2.91289C4.0138,12.33234,4,12.741,4,16s.0138,3.66766.0722,4.94758A8.80773,8.80773,0,0,0,4.63,23.86047,6.136,6.136,0,0,0,8.13953,27.37a8.80773,8.80773,0,0,0,2.91289.55779C12.33234,27.98621,12.741,28,16,28s3.66766-.01379,4.94758-.0722A8.80773,8.80773,0,0,0,23.86047,27.37,6.136,6.136,0,0,0,27.37,23.86047a8.80773,8.80773,0,0,0,.55779-2.91289C27.9862,19.66766,28,19.259,28,16s-.0138-3.66766-.0722-4.94758A8.80773,8.80773,0,0,0,27.37,8.13953,6.136,6.136,0,0,0,23.86047,4.63a8.80773,8.80773,0,0,0-2.91289-.55779C19.66766,4.0138,19.259,4,16,4Zm0,5.83784A6.16216,6.16216,0,1,0,22.16216,16,6.16216,6.16216,0,0,0,16,9.83784ZM16,20a4,4,0,1,1,4-4A4,4,0,0,1,16,20ZM22.40563,8.15437a1.44,1.44,0,1,0,1.44,1.44A1.44,1.44,0,0,0,22.40563,8.15437Z" fill="#262626"/>
  </symbol>
  <symbol id="link" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
    <path d="M28,13.5v5A4.5,4.5,0,0,1,23.5,23h-7A4.5,4.5,0,0,1,12,18.5V15a1,1,0,0,1,1-1h1a1,1,0,0,1,1,1v3.5A1.5,1.5,0,0,0,16.5,20h7A1.5,1.5,0,0,0,25,18.5v-5A1.5,1.5,0,0,0,23.5,12H21.86035a.49994.49994,0,0,1-.4743-.34186l-.66669-2A.5.5,0,0,1,21.19373,9H23.5A4.5,4.5,0,0,1,28,13.5ZM10.614,20.34186A.49994.49994,0,0,0,10.13965,20H8.5A1.5,1.5,0,0,1,7,18.5v-5A1.5,1.5,0,0,1,8.5,12h7A1.5,1.5,0,0,1,17,13.5V17a1,1,0,0,0,1,1h1a1,1,0,0,0,1-1V13.5A4.5,4.5,0,0,0,15.5,9h-7A4.5,4.5,0,0,0,4,13.5v5A4.5,4.5,0,0,0,8.5,23h2.30627a.5.5,0,0,0,.47437-.65814Z"/>
  </symbol>
  <symbol id="justwatch" fill="currentColor" viewBox="0 0 28 27" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <defs>
      <linearGradient x1="0%" y1="50%" x2="100%" y2="50%" id="linearGradient-1">
        <stop stop-color="#707070" offset="0%"></stop>
        <stop stop-color="#000000" offset="100%"></stop>
      </linearGradient>
    </defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="currentColor" fill-rule="evenodd">
      <g id="justwatch-small-black" fill="url(#linearGradient-1)" fill-rule="nonzero">
        <path d="M0.367831,19.7015845 C0.368397832,19.62791 0.375046205,19.5780917 0.375046205,19.5780917 C0.375046205,19.5780917 0.423670408,15.4853053 0.382261409,14.4518798 C0.340538706,13.4190742 1.26377116,13.9094399 1.26377116,13.9094399 L6.44303308,16.5562366 C6.44303308,16.5562366 7.45567132,17.0366833 6.42546562,17.5595954 C5.66504582,17.9461226 2.27013532,19.701768 1.24902705,20.1874842 C0.465525063,20.5607587 0.369990246,20.0012268 0.367831,19.7215301 L0.367831,19.7015844 L0.367831,19.7015845 Z M21.6178624,10.8066842 C21.6178624,10.8066842 21.5472788,9.96357761 22.2703678,10.330267 C22.9943978,10.6972663 26.6023135,12.5266837 26.6023135,12.5266837 C26.6023135,12.5266837 28.5987291,13.507725 26.597608,14.5172832 C25.1824869,15.2311341 23.0232586,16.3219033 22.2791515,16.6957219 C21.5347307,17.0695405 21.6122157,16.2639397 21.6122157,16.2639397 L21.6178624,10.8066842 Z M15.4068256,20.3226297 C14.3860312,20.8086558 14.5325312,19.7135472 14.5325312,19.7135472 C14.5325312,19.7135472 14.5814691,15.6207609 14.5400601,14.5870255 C14.4980237,13.5536 15.4215698,14.0448956 15.4215698,14.0448956 L20.6002039,16.6913822 C20.6002039,16.6913822 21.6134695,17.171519 20.5826364,17.695051 C19.8231578,18.0809582 16.4279338,19.8369136 15.4068256,20.3226297 Z M8.33655361,23.8398104 C7.31544537,24.3258366 7.46225909,23.229798 7.46225909,23.229798 C7.46225909,23.229798 7.5108833,19.1370114 7.4694743,18.1038958 C7.4277516,17.0701603 8.35067032,17.5614559 8.35067032,17.5614559 L13.5302458,20.2082527 C13.5302458,20.2082527 14.542884,20.6883895 13.5123646,21.2119215 C12.7522586,21.5975188 9.35734815,23.3534743 8.33655361,23.8398104 Z M8.34439585,16.6755735 C7.3236013,17.1612897 7.47041503,16.066181 7.47041503,16.066181 C7.47041503,16.066181 7.51903923,11.9733944 7.47731653,10.9399689 C7.43590753,9.90654336 8.35882626,10.397529 8.35882626,10.397529 L13.5384018,13.0443258 C13.5384018,13.0443258 14.5513537,13.5244626 13.5205206,14.0476846 C12.7607283,14.4335919 9.36550411,16.1895473 8.34439585,16.6755735 Z M15.4083947,12.9752037 C14.3876003,13.4612298 14.534414,12.3661212 14.534414,12.3661212 C14.534414,12.3661212 14.5830382,8.27302477 14.5413155,7.23959929 C14.4995928,6.20648378 15.4228252,6.6971594 15.4228252,6.6971594 L20.6020867,9.34426607 C20.6020867,9.34426607 21.6150385,9.82409289 20.5842055,10.3473149 C19.8240995,10.7332221 16.4288755,12.4891776 15.4083947,12.9752037 Z M1.25624218,13.115618 C0.235447697,13.6016441 0.382261408,12.5059155 0.382261408,12.5059155 C0.382261408,12.5059155 0.430885608,8.41312912 0.389162908,7.37970366 C0.347440207,6.34658815 1.27067259,6.83726377 1.27067259,6.83726377 L6.44993409,9.4843704 C6.44993409,9.4843704 7.46288596,9.96419722 6.43205293,10.4877292 C5.6722606,10.8739464 2.27703666,12.6292819 1.25624218,13.115618 Z M8.33718093,9.44314494 C7.31670011,9.92917109 7.46288642,8.83406242 7.46288642,8.83406242 C7.46288642,8.83406242 7.51182432,4.74127589 7.46978792,3.70754043 C7.42869262,2.67442489 8.35161134,3.16541049 8.35161134,3.16541049 L13.5308731,5.81220724 C13.5308731,5.81220724 14.543825,6.29203407 13.5133056,6.8152561 C12.7531995,7.20147331 9.35797546,8.95742875 8.33718093,9.44314494 Z M0.380375732,21.2509757 C0.378810659,20.7237241 0.912735781,20.9397702 0.912735781,20.9397702 C0.912735781,20.9397702 6.19018721,23.6271725 6.78653954,23.9358983 C7.38351927,24.2449341 6.78779436,24.5871362 6.78779436,24.5871362 C6.78779436,24.5871362 4.65617202,25.645359 2.5869769,26.7032718 C0.518095473,27.7618045 0.388849204,25.7154112 0.388849204,25.7154112 L0.380375732,21.2509757 Z M0.40296577,5.75734324 L0.407671476,1.29259804 C0.407671476,1.29259804 0.535349219,-0.753485212 2.60517169,0.302877719 C4.67499416,1.35893068 6.80787124,2.41467368 6.80787124,2.41467368 C6.80787124,2.41467368 7.40359614,2.75687576 6.80724383,3.06622148 C6.21057782,3.3755672 0.936263604,6.06761886 0.936263604,6.06761886 C0.936263604,6.06761886 0.402652204,6.28397488 0.40296577,5.75734324 Z" id="icon"></path>
      </g>
    </g>
  </symbol>
  <symbol id="keyboard" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
    <path d="M29,10H19V9a1,1,0,0,0-1-1H17V4H15V8H14a1,1,0,0,0-1,1v1H3a1,1,0,0,0-1,1V25a1,1,0,0,0,1,1H29a1,1,0,0,0,1-1V11A1,1,0,0,0,29,10Zm-8,3.25a.25.25,0,0,1,.25-.25h1.5a.25.25,0,0,1,.25.25v1.5a.25.25,0,0,1-.25.25h-1.5a.25.25,0,0,1-.25-.25ZM19.25,17h1.5a.25.25,0,0,1,.25.25v1.5a.25.25,0,0,1-.25.25h-1.5a.25.25,0,0,1-.25-.25v-1.5A.25.25,0,0,1,19.25,17ZM17,17.25v1.5a.25.25,0,0,1-.25.25h-1.5a.25.25,0,0,1-.25-.25v-1.5a.25.25,0,0,1,.25-.25h1.5A.25.25,0,0,1,17,17.25Zm0-4a.25.25,0,0,1,.25-.25h1.5a.25.25,0,0,1,.25.25v1.5a.25.25,0,0,1-.25.25h-1.5a.25.25,0,0,1-.25-.25Zm-4,0a.25.25,0,0,1,.25-.25h1.5a.25.25,0,0,1,.25.25v1.5a.25.25,0,0,1-.25.25h-1.5a.25.25,0,0,1-.25-.25ZM11.25,17h1.5a.25.25,0,0,1,.25.25v1.5a.25.25,0,0,1-.25.25h-1.5a.25.25,0,0,1-.25-.25v-1.5A.25.25,0,0,1,11.25,17ZM9,13.25A.25.25,0,0,1,9.25,13h1.5a.25.25,0,0,1,.25.25v1.5a.25.25,0,0,1-.25.25H9.25A.25.25,0,0,1,9,14.75Zm-4,0A.25.25,0,0,1,5.25,13h1.5a.25.25,0,0,1,.25.25v1.5a.25.25,0,0,1-.25.25H5.25A.25.25,0,0,1,5,14.75ZM8.75,19H5.25A.25.25,0,0,1,5,18.75v-1.5A.25.25,0,0,1,5.25,17h3.5a.25.25,0,0,1,.25.25v1.5A.25.25,0,0,1,8.75,19ZM23,22.75a.25.25,0,0,1-.25.25H9.25A.25.25,0,0,1,9,22.75v-1.5A.25.25,0,0,1,9.25,21h13.5a.25.25,0,0,1,.25.25Zm4-4a.25.25,0,0,1-.25.25h-3.5a.25.25,0,0,1-.25-.25v-1.5a.25.25,0,0,1,.25-.25h3.5a.25.25,0,0,1,.25.25Zm0-4a.25.25,0,0,1-.25.25h-1.5a.25.25,0,0,1-.25-.25v-1.5a.25.25,0,0,1,.25-.25h1.5a.25.25,0,0,1,.25.25Z"/>
  </symbol>
  <symbol id="speech-bubble" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
    <path d="M18,20v2a1,1,0,0,1-1,1H15a1,1,0,0,1-1-1V20a1,1,0,0,1,1-1h2A1,1,0,0,1,18,20ZM17,9H15a1,1,0,0,0-1,1l-.00073,3,.91961,4.59808A.5.5,0,0,0,15.40918,18h1.18018a.5.5,0,0,0,.49029-.40192L17.99927,13,18,10A1,1,0,0,0,17,9Zm.37,15.9a9.01974,9.01974,0,0,1-5.85-1.1l-.54-.31-3.37.9.74-2.77.16-.6-.31-.54a8.99249,8.99249,0,1,1,9.17,4.42ZM15.99,28a12.47719,12.47719,0,0,0,1.82-.13A12.00282,12.00282,0,1,0,4.14,14.19,11.86817,11.86817,0,0,0,5.3,21.42L4.08,25.97a1.58393,1.58393,0,0,0,.39,1.56,1.56456,1.56456,0,0,0,1.56.39l4.55-1.22A11.88376,11.88376,0,0,0,15.99,28Z"/>
  </symbol>
  <symbol id="lock" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
    <path d="M25,12H24V9a5.00588,5.00588,0,0,0-5-5H13A5.00588,5.00588,0,0,0,8,9v3H7a2.00591,2.00591,0,0,0-2,2V26a2.00591,2.00591,0,0,0,2,2H25a2.00591,2.00591,0,0,0,2-2V14A2.00591,2.00591,0,0,0,25,12Zm-8,8.7226V23.5a.5.5,0,0,1-.5.5h-1a.5.5,0,0,1-.5-.5V20.7226a2,2,0,1,1,2,0ZM20,12H12V9a1.01348,1.01348,0,0,1,1-1h6a1.01348,1.01348,0,0,1,1,1Z"/>
  </symbol>
  <symbol id="dropdown" version="1.0" xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512.000000 512.000000"
          preserveAspectRatio="xMidYMid meet">

    <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)"
       fill="#000000" stroke="none">
      <path d="M1111 3609 c-133 -26 -217 -167 -178 -299 15 -50 79 -128 745 -906
805 -940 762 -896 882 -896 119 0 78 -42 864 876 391 457 722 845 734 863 79
111 31 282 -95 345 l-48 23 -1430 2 c-786 0 -1450 -3 -1474 -8z"/>
    </g>
  </symbol>
  <symbol id="expand" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
    <path fill="#ffffff" id="fullscreen" d="M13.72156,12.06732a.5.5,0,0,1-.06812.62219l-.96374.96375a.5.5,0,0,1-.6222.06811L7.89624,11.064,6.19342,12.76642a.49983.49983,0,0,1-.847-.27521L4.10779,4.67969a.49976.49976,0,0,1,.57184-.57184L12.491,5.34619a.50011.50011,0,0,1,.27527.8476L11.06378,7.896Zm5.58874,1.58594a.5.5,0,0,0,.6222.06811L24.10376,11.064l1.70282,1.70246a.49983.49983,0,0,0,.847-.27521l1.23858-7.81152a.49976.49976,0,0,0-.57184-.57184L19.509,5.34619a.50011.50011,0,0,0-.27527.8476L20.93622,7.896l-2.65778,4.17132a.5.5,0,0,0,.06812.62219Zm-6.6206,4.69348a.5.5,0,0,0-.6222-.06811L7.89624,20.936,6.19342,19.23358a.49983.49983,0,0,0-.847.27521L4.10779,27.32031a.49976.49976,0,0,0,.57184.57184l7.8114-1.23834a.50011.50011,0,0,0,.27527-.8476L11.06378,24.104l2.65778-4.17132a.5.5,0,0,0-.06812-.62219Zm13.11688.88684L24.10376,20.936,19.9325,18.27863a.5.5,0,0,0-.6222.06811l-.96374.96375a.5.5,0,0,0-.06812.62219L20.93622,24.104,19.2337,25.80621a.50011.50011,0,0,0,.27527.8476l7.8114,1.23834a.49976.49976,0,0,0,.57184-.57184l-1.23858-7.81152A.49983.49983,0,0,0,25.80658,19.23358Z"/>
  </symbol>
  <symbol id="google" style="enable-background:new 0 0 150 150;" version="1.1" viewBox="0 0 150 150" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <style type="text/css">
        .st0 {
            fill: #1A73E8;
        }

        .st1 {
            fill: #EA4335;
        }

        .st2 {
            fill: #4285F4;
        }

        .st3 {
            fill: #FBBC04;
        }

        .st4 {
            fill: #34A853;
        }

        .st5 {
            fill: #4CAF50;
        }

        .st6 {
            fill: #1E88E5;
        }

        .st7 {
            fill: #E53935;
        }

        .st8 {
            fill: #C62828;
        }

        .st9 {
            fill: #FBC02D;
        }

        .st10 {
            fill: #1565C0;
        }

        .st11 {
            fill: #2E7D32;
        }

        .st12 {
            fill: #F6B704;
        }

        .st13 {
            fill: #E54335;
        }

        .st14 {
            fill: #4280EF;
        }

        .st15 {
            fill: #34A353;
        }

        .st16 {
            clip-path: url(#SVGID_2_);
        }

        .st17 {
            fill: #188038;
        }

        .st18 {
            opacity: 0.2;
            fill: #FFFFFF;
            enable-background: new;
        }

        .st19 {
            opacity: 0.3;
            fill: #0D652D;
            enable-background: new;
        }

        .st20 {
            clip-path: url(#SVGID_4_);
        }

        .st21 {
            opacity: 0.3;
            fill: url(#_45_shadow_1_);
            enable-background: new;
        }

        .st22 {
            clip-path: url(#SVGID_6_);
        }

        .st23 {
            fill: #FA7B17;
        }

        .st24 {
            opacity: 0.3;
            fill: #174EA6;
            enable-background: new;
        }

        .st25 {
            opacity: 0.3;
            fill: #A50E0E;
            enable-background: new;
        }

        .st26 {
            opacity: 0.3;
            fill: #E37400;
            enable-background: new;
        }

        .st27 {
            fill: url(#Finish_mask_1_);
        }

        .st28 {
            fill: #FFFFFF;
        }

        .st29 {
            fill: #0C9D58;
        }

        .st30 {
            opacity: 0.2;
            fill: #004D40;
            enable-background: new;
        }

        .st31 {
            opacity: 0.2;
            fill: #3E2723;
            enable-background: new;
        }

        .st32 {
            fill: #FFC107;
        }

        .st33 {
            opacity: 0.2;
            fill: #1A237E;
            enable-background: new;
        }

        .st34 {
            opacity: 0.2;
        }

        .st35 {
            fill: #1A237E;
        }

        .st36 {
            fill: url(#SVGID_7_);
        }

        .st37 {
            fill: #FBBC05;
        }

        .st38 {
            clip-path: url(#SVGID_9_);
            fill: #E53935;
        }

        .st39 {
            clip-path: url(#SVGID_11_);
            fill: #FBC02D;
        }

        .st40 {
            clip-path: url(#SVGID_13_);
            fill: #E53935;
        }

        .st41 {
            clip-path: url(#SVGID_15_);
            fill: #FBC02D;
        }
    </style>
    <g>
      <path class="st14" d="M120,76.1c0-3.1-0.3-6.3-0.8-9.3H75.9v17.7h24.8c-1,5.7-4.3,10.7-9.2,13.9l14.8,11.5   C115,101.8,120,90,120,76.1L120,76.1z"/>
      <path class="st15" d="M75.9,120.9c12.4,0,22.8-4.1,30.4-11.1L91.5,98.4c-4.1,2.8-9.4,4.4-15.6,4.4c-12,0-22.1-8.1-25.8-18.9   L34.9,95.6C42.7,111.1,58.5,120.9,75.9,120.9z"/>
      <path class="st12" d="M50.1,83.8c-1.9-5.7-1.9-11.9,0-17.6L34.9,54.4c-6.5,13-6.5,28.3,0,41.2L50.1,83.8z"/>
      <path class="st13" d="M75.9,47.3c6.5-0.1,12.9,2.4,17.6,6.9L106.6,41C98.3,33.2,87.3,29,75.9,29.1c-17.4,0-33.2,9.8-41,25.3   l15.2,11.8C53.8,55.3,63.9,47.3,75.9,47.3z"/>
    </g>
  </symbol>
  <symbol
    id="user-profile-header"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    width="1559px" height="828px">
    <defs>
      <filter id="Filter_0">
        <feFlood flood-color="rgb(212, 2, 66)" flood-opacity="1" result="floodOut"/>
        <feComposite operator="atop" in="floodOut" in2="SourceGraphic" result="compOut"/>
        <feBlend mode="normal" in="compOut" in2="SourceGraphic"/>
      </filter>

    </defs>
    <g filter="url(#Filter_0)">
      <path fill-rule="evenodd" fill="rgb(212, 2, 66)"
            d="M1555.198,136.325 C1559.308,140.433 1559.308,147.093 1555.198,151.200 L1388.709,317.633 C1384.600,321.741 1377.938,321.741 1373.829,317.633 C1369.721,313.526 1369.721,306.867 1373.829,302.759 L1540.319,136.325 C1544.428,132.218 1551.090,132.218 1555.198,136.325 Z"/>
      <path fill-rule="evenodd" fill="rgb(212, 2, 66)"
            d="M283.102,453.206 C287.211,457.314 287.211,463.974 283.102,468.081 L18.612,732.514 C14.504,736.622 7.842,736.622 3.733,732.514 C-0.376,728.407 -0.376,721.747 3.733,717.640 L268.223,453.206 C272.331,449.099 278.993,449.099 283.102,453.206 Z"/>
      <path fill-rule="evenodd" opacity="0.2" fill="rgb(212, 2, 66)"
            d="M1361.301,87.407 C1365.409,91.515 1365.409,98.174 1361.301,102.282 L1088.811,374.715 C1084.702,378.822 1078.041,378.822 1073.931,374.715 C1069.823,370.608 1069.823,363.948 1073.931,359.841 L1346.421,87.407 C1350.530,83.300 1357.192,83.300 1361.301,87.407 Z"/>
      <path fill-rule="evenodd" opacity="0.2" fill="rgb(212, 2, 66)"
            d="M1311.301,377.407 C1315.409,381.515 1315.409,388.174 1311.301,392.282 L1038.811,664.715 C1034.702,668.823 1028.041,668.823 1023.932,664.715 C1019.823,660.607 1019.823,653.948 1023.932,649.841 L1296.421,377.407 C1300.530,373.300 1307.192,373.300 1311.301,377.407 Z"/>
      <path fill-rule="evenodd" fill="rgb(212, 2, 66)"
            d="M1531.301,537.407 C1535.409,541.515 1535.409,548.174 1531.301,552.282 L1258.811,824.715 C1254.702,828.823 1248.041,828.823 1243.932,824.715 C1239.823,820.607 1239.823,813.948 1243.932,809.841 L1516.421,537.407 C1520.530,533.300 1527.192,533.300 1531.301,537.407 Z"/>
      <path fill-rule="evenodd" opacity="0.169" fill="rgb(212, 2, 66)"
            d="M1391.301,547.407 C1395.410,551.515 1395.410,558.174 1391.301,562.282 L1301.811,651.715 C1297.702,655.823 1291.041,655.823 1286.931,651.715 C1282.823,647.607 1282.823,640.948 1286.931,636.841 L1376.421,547.407 C1380.530,543.300 1387.192,543.300 1391.301,547.407 Z"/>
      <path fill-rule="evenodd" opacity="0.2" fill="rgb(212, 2, 66)"
            d="M361.300,150.407 C365.409,154.515 365.409,161.175 361.300,165.282 L88.811,437.715 C84.702,441.822 78.040,441.822 73.931,437.715 C69.823,433.608 69.823,426.948 73.931,422.841 L346.421,150.407 C350.530,146.300 357.192,146.300 361.300,150.407 Z"/>
      <path fill-rule="evenodd" opacity="0.2" fill="rgb(212, 2, 66)"
            d="M388.300,554.407 C392.410,558.515 392.410,565.175 388.300,569.282 L182.811,774.715 C178.702,778.823 172.040,778.823 167.931,774.715 C163.823,770.607 163.823,763.948 167.931,759.841 L373.421,554.407 C377.530,550.300 384.192,550.300 388.300,554.407 Z"/>
      <path fill-rule="evenodd" opacity="0.2" fill="rgb(212, 2, 66)"
            d="M1096.882,3.051 C1101.007,7.140 1101.007,13.770 1096.882,17.860 L805.040,294.916 C800.915,299.006 794.226,299.006 790.100,294.916 C785.975,290.827 785.975,284.196 790.100,280.107 L1081.942,3.051 C1086.068,-1.039 1092.756,-1.039 1096.882,3.051 Z"/>
    </g>
  </symbol>
  <symbol id="menu-close" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
    <path d="M25.83881,23.01038a.5.5,0,0,1,0,.70715l-2.12128,2.12134a.50011.50011,0,0,1-.70709,0L16,18.82837l-7.01044,7.0105a.50011.50011,0,0,1-.70709,0L6.16119,23.71753a.5.5,0,0,1,0-.70715L13.17163,16,6.16119,8.9895a.49982.49982,0,0,1,0-.707L8.28247,6.16113a.5.5,0,0,1,.70709,0L16,13.17163l7.01044-7.0105a.5.5,0,0,1,.70709,0l2.12128,2.12134a.49982.49982,0,0,1,0,.707L18.82843,16Z"/>
  </symbol>
  <symbol id="dots" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
    <path d="M27,16a3,3,0,1,1-3-3A3,3,0,0,1,27,16ZM16,13a3,3,0,1,0,3,3A3,3,0,0,0,16,13ZM8,13a3,3,0,1,0,3,3A3,3,0,0,0,8,13Z"/>
  </symbol>
  <symbol id="bell" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
    <path d="M26,22.07037V23a1,1,0,0,1-1,1H7a1,1,0,0,1-1-1v-.92963a2.00005,2.00005,0,0,1,.89062-1.66412l.32819-.21881A3.99993,3.99993,0,0,0,9,16.85925V13a7.00018,7.00018,0,0,1,5-6.70636V5a1,1,0,0,1,1-1h2a1,1,0,0,1,1,1V6.31073a7.31386,7.31386,0,0,1,5,6.98273v3.56579a3.99993,3.99993,0,0,0,1.78119,3.32819l.32819.21881A2.00005,2.00005,0,0,1,26,22.07037ZM14,27a2,2,0,0,0,4,0V26H14Z"/>
  </symbol>
  <symbol id="check" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
    <path fill="#ffffff" d="M27.37592,9.70459l-14.151,15.97693a.99985.99985,0,0,1-1.47558.02356L4.59711,18.1322a.99992.99992,0,0,1-.05384-1.31128L5.495,15.63123a.99994.99994,0,0,1,1.22808-.26966L12,18,24.79724,7.09863a.99991.99991,0,0,1,1.35553.0542l1.1817,1.18164A1,1,0,0,1,27.37592,9.70459Z"/>
  </symbol>
  <symbol id="youtube" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g id="mastodon" fill="#262626" fill-rule="nonzero">
        <path d="M17.103405,18.2929546 C20.3288807,17.9329457 23.1351725,16.0803996 23.487159,14.3883576 C24.0439375,11.7212913 23.9991393,7.87969582 23.9991393,7.87969582 C23.9991393,2.67456647 20.3416802,1.14752852 20.3416802,1.14752852 C18.4985512,0.357008872 15.3322732,0.0255006337 12.0428,0 L11.962803,0 C8.67172986,0.0255006337 5.5070518,0.357008872 3.66392282,1.14752852 C3.66392282,1.14752852 0.00806368929,2.67306643 0.00806368929,7.87969582 L0.00486381259,8.8727205 C-0.00153594082,9.83274436 -0.00633575587,10.8977708 0.0224631344,12.0092984 C0.155258018,17.100425 1.02402454,22.1195497 6.0702301,23.3645806 C8.39654046,23.9390949 10.3948635,24.0590979 12.0044014,23.9765959 C14.9210891,23.8265921 16.5594259,23.0060717 16.5594259,23.0060717 L16.4634296,21.0305226 C16.4634296,21.0305226 14.37871,21.6455379 12.0364002,21.5705361 C9.7164896,21.4955342 7.26858392,21.3365302 6.89259841,18.6784642 C6.85680614,18.4318881 6.8391651,18.183294 6.83980045,17.9344457 C6.83980045,17.9344457 9.11811266,18.4534586 12.0044014,18.5764617 C13.7691334,18.6514635 15.4234697,18.4804593 17.1050049,18.2929546 L17.103405,18.2929546 Z M19.6841055,14.5878625 L17.0074087,14.5878625 L17.0074087,8.46771044 C17.0074087,7.17917841 16.4250311,6.52516216 15.2618759,6.52516216 C13.9755255,6.52516216 13.3307503,7.30068143 13.3307503,8.83671961 L13.3307503,12.1863028 L10.6684529,12.1863028 L10.6684529,8.83521957 C10.6684529,7.2991814 10.0236778,6.52366212 8.73732733,6.52366212 C7.57417215,6.52366212 6.99179459,7.17767838 6.99179459,8.46771044 L6.99179459,14.5863625 L4.31509773,14.5863625 L4.31509773,8.28320585 C4.31509773,6.99467383 4.66708417,5.9716484 5.37105704,5.21412958 C6.10062893,4.45661075 7.05419218,4.0681011 8.2397465,4.0681011 C9.60929373,4.0681011 10.6460538,4.56011333 11.3324273,5.54263774 L11.9996016,6.58516365 L12.6667759,5.54263774 C13.3531495,4.56011333 14.3899095,4.0681011 15.7610567,4.0681011 C16.9450111,4.0681011 17.8985743,4.45661075 18.6265463,5.21412958 C19.333719,5.9716484 19.6841055,6.99467383 19.6841055,8.28320585 L19.6841055,14.5878625 L19.6841055,14.5878625 Z" id="Shape"></path>
      </g>
    </g>
  </symbol>
  <symbol id="facebook" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
    <path d="M29,16.07912A13,13,0,1,0,13.96875,28.94694V19.84447H10.668V16.07912h3.30078v-2.8698c0-3.26466,1.94081-5.06795,4.91029-5.06795a19.95289,19.95289,0,0,1,2.91.25441v3.20563H20.14979a1.88079,1.88079,0,0,0-2.11854,2.03423v2.44348h3.60547l-.57637,3.76535h-3.0291v9.10247A13.02132,13.02132,0,0,0,29,16.07912" fill="#262626"/>
  </symbol>
  <symbol id="instagram" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
    <path d="M16,6.16216c3.20414,0,3.58366.01222,4.849.06995a6.64012,6.64012,0,0,1,2.22824.4132,3.97394,3.97394,0,0,1,2.27743,2.27743,6.64009,6.64009,0,0,1,.4132,2.22822c.05773,1.26538.06995,1.6449.06995,4.849s-.01222,3.58366-.06995,4.849a6.64012,6.64012,0,0,1-.4132,2.22824,3.97394,3.97394,0,0,1-2.27743,2.27743,6.64012,6.64012,0,0,1-2.22824.4132c-1.26518.05773-1.64466.06995-4.849.06995s-3.58384-.01222-4.849-.06995a6.64012,6.64012,0,0,1-2.22824-.4132,3.97394,3.97394,0,0,1-2.27743-2.27743,6.64009,6.64009,0,0,1-.4132-2.22822c-.05773-1.26538-.06995-1.6449-.06995-4.849s.01222-3.58366.06995-4.849a6.64012,6.64012,0,0,1,.4132-2.22824A3.97394,3.97394,0,0,1,8.92274,6.64531a6.64009,6.64009,0,0,1,2.22822-.4132c1.26538-.05773,1.6449-.06995,4.849-.06995M16,4c-3.259,0-3.66766.0138-4.94758.0722A8.80773,8.80773,0,0,0,8.13953,4.63,6.136,6.136,0,0,0,4.63,8.13953a8.80773,8.80773,0,0,0-.55779,2.91289C4.0138,12.33234,4,12.741,4,16s.0138,3.66766.0722,4.94758A8.80773,8.80773,0,0,0,4.63,23.86047,6.136,6.136,0,0,0,8.13953,27.37a8.80773,8.80773,0,0,0,2.91289.55779C12.33234,27.98621,12.741,28,16,28s3.66766-.01379,4.94758-.0722A8.80773,8.80773,0,0,0,23.86047,27.37,6.136,6.136,0,0,0,27.37,23.86047a8.80773,8.80773,0,0,0,.55779-2.91289C27.9862,19.66766,28,19.259,28,16s-.0138-3.66766-.0722-4.94758A8.80773,8.80773,0,0,0,27.37,8.13953,6.136,6.136,0,0,0,23.86047,4.63a8.80773,8.80773,0,0,0-2.91289-.55779C19.66766,4.0138,19.259,4,16,4Zm0,5.83784A6.16216,6.16216,0,1,0,22.16216,16,6.16216,6.16216,0,0,0,16,9.83784ZM16,20a4,4,0,1,1,4-4A4,4,0,0,1,16,20ZM22.40563,8.15437a1.44,1.44,0,1,0,1.44,1.44A1.44,1.44,0,0,0,22.40563,8.15437Z" fill="#262626"/>
  </symbol>
  <symbol id="mastodon" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g fill="#262626" fill-rule="nonzero">
        <path d="M17.103405,18.2929546 C20.3288807,17.9329457 23.1351725,16.0803996 23.487159,14.3883576 C24.0439375,11.7212913 23.9991393,7.87969582 23.9991393,7.87969582 C23.9991393,2.67456647 20.3416802,1.14752852 20.3416802,1.14752852 C18.4985512,0.357008872 15.3322732,0.0255006337 12.0428,0 L11.962803,0 C8.67172986,0.0255006337 5.5070518,0.357008872 3.66392282,1.14752852 C3.66392282,1.14752852 0.00806368929,2.67306643 0.00806368929,7.87969582 L0.00486381259,8.8727205 C-0.00153594082,9.83274436 -0.00633575587,10.8977708 0.0224631344,12.0092984 C0.155258018,17.100425 1.02402454,22.1195497 6.0702301,23.3645806 C8.39654046,23.9390949 10.3948635,24.0590979 12.0044014,23.9765959 C14.9210891,23.8265921 16.5594259,23.0060717 16.5594259,23.0060717 L16.4634296,21.0305226 C16.4634296,21.0305226 14.37871,21.6455379 12.0364002,21.5705361 C9.7164896,21.4955342 7.26858392,21.3365302 6.89259841,18.6784642 C6.85680614,18.4318881 6.8391651,18.183294 6.83980045,17.9344457 C6.83980045,17.9344457 9.11811266,18.4534586 12.0044014,18.5764617 C13.7691334,18.6514635 15.4234697,18.4804593 17.1050049,18.2929546 L17.103405,18.2929546 Z M19.6841055,14.5878625 L17.0074087,14.5878625 L17.0074087,8.46771044 C17.0074087,7.17917841 16.4250311,6.52516216 15.2618759,6.52516216 C13.9755255,6.52516216 13.3307503,7.30068143 13.3307503,8.83671961 L13.3307503,12.1863028 L10.6684529,12.1863028 L10.6684529,8.83521957 C10.6684529,7.2991814 10.0236778,6.52366212 8.73732733,6.52366212 C7.57417215,6.52366212 6.99179459,7.17767838 6.99179459,8.46771044 L6.99179459,14.5863625 L4.31509773,14.5863625 L4.31509773,8.28320585 C4.31509773,6.99467383 4.66708417,5.9716484 5.37105704,5.21412958 C6.10062893,4.45661075 7.05419218,4.0681011 8.2397465,4.0681011 C9.60929373,4.0681011 10.6460538,4.56011333 11.3324273,5.54263774 L11.9996016,6.58516365 L12.6667759,5.54263774 C13.3531495,4.56011333 14.3899095,4.0681011 15.7610567,4.0681011 C16.9450111,4.0681011 17.8985743,4.45661075 18.6265463,5.21412958 C19.333719,5.9716484 19.6841055,6.99467383 19.6841055,8.28320585 L19.6841055,14.5878625 L19.6841055,14.5878625 Z" id="Shape"></path>
      </g>
    </g>
  </symbol>
  <symbol id="twitter" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
    <path d="M26.32865,10.20428c.01043.22891.01043.45778.01043.6867A15.18194,15.18194,0,0,1,2.99214,23.68808a10.26487,10.26487,0,0,0,1.26929.07283A10.70029,10.70029,0,0,0,10.8889,21.472a5.33486,5.33486,0,0,1-4.9836-3.70387,5.36636,5.36636,0,0,0,2.40336-.09364,5.34632,5.34632,0,0,1-4.2761-5.23331v-.07283a5.39627,5.39627,0,0,0,2.41374.6659A5.35659,5.35659,0,0,1,4.79205,5.90738,15.1498,15.1498,0,0,0,15.78924,11.484a5.89821,5.89821,0,0,1-.13524-1.21727,5.33642,5.33642,0,0,1,9.22847-3.65189,10.61188,10.61188,0,0,0,3.3918-1.2901A5.368,5.368,0,0,1,25.9229,8.27951a10.81127,10.81127,0,0,0,3.06924-.84274A10.868,10.868,0,0,1,26.32865,10.20428Z" fill="#262626"/>
  </symbol>
  <symbol id="tiktok" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
    <path d="m26.47917,9.636v3.95604c-2.05202,0-3.95207-.65603-5.50389-1.76986v8.03931c0,4.01427-3.26545,7.27972-7.27972,7.27972-1.55183,0-2.99021-.48936-4.17305-1.31898-1.8774-1.31802-3.10763-3.49733-3.10763-5.96073,0-4.01517,3.26545-7.28068,7.28068-7.28068.3325,0,.66.02667.98064.07105v4.03793c-.31076-.09767-.63929-.15391-.98064-.15391-1.83399,0-3.3256,1.49167-3.3256,3.3256,0,2.05518,1.38004,3.32464,3.3256,3.32464,1.80444,0,3.31777-1.46738,3.31777-3.19933l.00686-15.85372h3.95508c0,.34334.02806.67979.09369,1.0043.38937,1.92512,2.0977,4.50846,5.4102,4.49863Z" fill="#262626"/>
  </symbol>
  <symbol id="vimeo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
    <path d="M28.55,9.9464q-.17367,3.80365-5.30263,10.41516-5.30233,6.90522-8.9723,6.90514-2.27262,0-3.84545-4.20534Q9.38,19.20647,8.33083,15.35146,7.16391,11.14771,5.82629,11.146A8.04187,8.04187,0,0,0,3.7859,12.373L2.56257,10.79406Q4.48742,9.09962,6.357,7.40377q2.567-2.22231,3.85229-2.33952,3.03546-.29211,3.7365,4.1575.7575,4.80112,1.05116,5.97064.87486,3.98322,1.92614,3.98151.8162,0,2.45148-2.5835a10.19177,10.19177,0,0,0,1.75069-3.93367q.23271-2.22995-1.75069-2.23185a4.86132,4.86132,0,0,0-1.92435.42721q1.91646-6.2903,7.32267-6.11409Q28.78029,4.85606,28.55,9.9464Z" fill="#262626"/>
  </symbol>
  <symbol id="circle-more" fill="#0000ff" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
    <path d="M16,4A12,12,0,1,0,28,16,12.01312,12.01312,0,0,0,16,4ZM10,18a2,2,0,1,1,2-2A2.00006,2.00006,0,0,1,10,18Zm6,0a2,2,0,1,1,2-2A2.00006,2.00006,0,0,1,16,18Zm6,0a2,2,0,1,1,2-2A2.00006,2.00006,0,0,1,22,18Z" fill="#FFFFFF"></path>
  </symbol>
  <symbol id="play" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
    <path d="M24.8175,16.86432,9.503,25.77667A1,1,0,0,1,8,24.91235V7.08765a1,1,0,0,1,1.503-.86432L24.8175,15.13568A1.00006,1.00006,0,0,1,24.8175,16.86432Z"/>
  </symbol>
  <symbol id="chevron-right-thick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
    <path d="M23.32849,16.70709,13.12115,26.91425a.50007.50007,0,0,1-.70715,0l-2.82806-2.8285a.5.5,0,0,1,0-.70709L16.96436,16,9.58594,8.62134a.5.5,0,0,1,0-.70709L12.414,5.08575a.50007.50007,0,0,1,.70715,0L23.32849,15.29291A.99988.99988,0,0,1,23.32849,16.70709Z"/>
  </symbol>
  <symbol id="circle-question" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
    <path d="M16,4A12,12,0,1,0,28,16,12.01312,12.01312,0,0,0,16,4Zm2,18a1,1,0,0,1-1,1H15a1,1,0,0,1-1-1V20a1,1,0,0,1,1-1h2a1,1,0,0,1,1,1Zm2.75-8.88574c0,1.37915-.86694,2.08215-1.95569,2.82495a3.5176,3.5176,0,0,0-1.47369,1.721A.49149.49149,0,0,1,16.84937,18h-2.062a.50188.50188,0,0,1-.49414-.5802,3.26859,3.26859,0,0,1,.65955-1.60095,10.46885,10.46885,0,0,1,2.32751-1.85645,1.0162,1.0162,0,0,0,.46973-.84814V13a1.0013,1.0013,0,0,0-1-1h-1.5a1,1,0,0,0-1,1,1,1,0,0,1-1,1h-1a1,1,0,0,1-1-1,3.99992,3.99992,0,0,1,4-4h1.5c2.28278,0,4,1.16394,4,4Z"/>
  </symbol>


</svg>
<%= render partial: "/layouts/header" %>
<div class="w-full h-16 bg-green-50"></div> <!--temp -->
<%= yield %>
<%= render partial: "/layouts/footer" %>
</body>
</html>
