<!DOCTYPE html>
<html>
<head class="light-mode">
  <title>Cinemad</title>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="preload" href="/vite-dev/assets/fonts/Source-Sans-Light.woff2" as="font" type="font/woff2" crossorigin="anonymous">
  <link rel="preload" href="/vite-dev/assets/fonts/Source-Sans-Normal.woff2" as="font" type="font/woff2" crossorigin="anonymous">
  <link rel="preload" href="/vite-dev/assets/fonts/Source-Sans-Italic.woff2" as="font" type="font/woff2" crossorigin="anonymous">
  <link rel="preload" href="/vite-dev/assets/fonts/Source-Sans-SemiBold.woff2" as="font" type="font/woff2" crossorigin="anonymous">
  <link rel="preload" href="/vite-dev/assets/fonts/Source-Sans-Bold.woff2" as="font" type="font/woff2" crossorigin="anonymous">
  <link rel="preload" href="/vite-dev/assets/fonts/Concen-Bold.woff2" as="font" type="font/woff2" crossorigin="anonymous">
  <%= render 'shared/favicon' %>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= vite_client_tag %>
  <%= vite_stylesheet_tag 'styles/application.scss' %>
  <%= vite_javascript_tag 'application' %>
  <!--
    If using a TypeScript entrypoint file:
      vite_typescript_tag 'application'

    If using a .jsx or .tsx entrypoint, add the extension:
      vite_javascript_tag 'application.jsx'

    Visit the guide for more information: https://vite-ruby.netlify.app/guide/rails
  -->

</head>

<body class="flex flex-col min-h-screen">
<meta name="csrf-token" content="<%= form_authenticity_token %>">
<%= render 'shared/svg_sprites' %>
<%= render partial: "shared/header/header" %>
<div class="w-full h-14 sm:h-16 bg-[#034275]"></div>
<div id="app" class="min-h-screen"></div>
<%= render partial: "shared/footer" %>
</body>
</html>
